@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #FAFAFA;
    color: #111111;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}

